body {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    background-image: url(base/images/background_texture.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
}

.bubble {
    width: 600px; /* Ширина элемента в пикселах */
    margin: auto; /* Выравниваем по центру */
    background: rgba(150, 170, 190, 0.6); /* Цвет фона */
    height: 1%; /* Для IE6-7*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e600aaee, endColorstr=#e600aaee);
    color: #fff; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    -moz-border-radius: 5px; /* Для Firefox 3 */
    -webkit-border-radius: 5px; /* Для Safari 4 и Chrome */
    border-radius: 5px; /* Для современных браузеров */
}

.timer {
    width: 600px; /* Ширина элемента в пикселах */
    margin: auto; /* Выравниваем по центру */
    background: rgba(150, 170, 190, 0.6); /* Цвет фона */
    height: 1%; /* Для IE6-7*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e600aaee, endColorstr=#e600aaee);
    color: #fff; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    -moz-border-radius: 5px; /* Для Firefox 3 */
    -webkit-border-radius: 5px; /* Для Safari 4 и Chrome */
    border-radius: 10px; /* Для современных браузеров */
    height: 100px;
}

#dial {
    width: 320px; /* Ширина левой колонки */
    /*height: 100px;*/
    float: left; /* Превращаем в плавающий элемент */
    font-weight: bold;
    font-size: xx-large;
    color: lime;
    font: bold 16px MS Sans Serif;
    padding: 3px;
}


/*========= Button ===========*/

button, a.button {
    border: 1px solid rgba(0,0,0,0.3);
    background: #eee;
    color: #515151;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    padding: 21px 34px;
    position: relative;
    text-decoration: none;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.21, rgb(237,237,237)), color-stop(0.58, rgb(250,250,250)));
    background: -moz-linear-gradient(center bottom, rgb(237,237,237) 21%, rgb(250,250,250) 58%);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 0 5px rgba(255,255,255,0.3) /* glass edge */, inset 0 1px 0 0 rgba(255,255,255,0.5) /* top highlight */, inset 0 -3px 0 0 rgba(0,0,0,0.5) /* bottom shadow */;
    -webkit-box-shadow: 0 0 0 5px rgba(255,255,255,0.3), inset 0 1px 0 0 rgba(255,255,255,0.5), inset 0 -3px 0 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 0 5px rgba(255,255,255,0.3), inset 0 1px 0 0 rgba(255,255,255,0.5), inset 0 -3px 0 0 rgba(0,0,0,0.5);
    text-shadow: 0 1px rgba(255,255,255,0.6);
}

    button::-moz-focus-inner, a.button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    button:hover, a.button:hover {
        background: #fbfbfb;
        cursor: pointer;
    }

